# Web3Forms Access Key
# 1. Sign up at https://web3forms.com with prabhat@crewcircle.com
# 2. Create a new form to get your access key
# 3. Set it here:
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=your_access_key_here
